<template>
  <swiper :options="swiperOption" ref="mySwiper" @slideChange="slideChange">
    <swiper-slide v-for="(v, k) in videos" :key="k">
      <div class="position-relative content">
        <video ref="video" autoplay :src="v.src" playsinline :height="height" style="position: relative"
               @click="oneClick($event)"
        ></video>
        <span class="avatar">
          <img :src="require('~/assets/images/' + v.contact.avatar)" >
        </span>
        <span class="like" @click="handlerLike">
          <i class="mdi mdi-heart" :class="{'isLike': v.isLike}"></i>
          <span class="like-count text-center">{{v.contact.likeCount}}</span>
        </span>
        <ChatProcessing v-model="v.contact.commentCount"/>
        <span class="share-facebook">
          <i class="mdi mdi-facebook"></i>
          <span class="facebook-share-count text-center">{{v.contact.faceShareCount}}</span>
        </span>
        <span class="soundtrack">
          <img :src="require('~/assets/images/' + v.contact.avatar)" >
        </span>
        <span class="author">
          <div>{{v.contact.name}}</div>
          <div class="decription">{{v.decription}}</div>
        </span>
        <span class="text-soundtrack">
          <marquee behavior="" direction="" id="soundtrackName">{{v.soundtrackName}}</marquee>
        </span>
      </div>
    </swiper-slide>
  </swiper>
</template>

<script>

  export default {
    props: ['videos', 'activeInfo'],
    data() {
      return {
        activeIndex: 0,
        clicks: 0,
        videoPlay: true,
      }
    },
    components: {
      Profile: () => import('~/components/Profile'),
      ElAvatar: () => import('element-ui/lib/avatar'),
      ChatProcessing: () => import('./Content/ChatProcessing'),
    },
    computed: {
      height() {
        return window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      },
      width() {
        return window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      },
      swipper() {
        return this.$refs.mySwiper.swiper
      },
      swiperOption() {
        return {
          direction: 'vertical',
          height: this.height,
          nested: true,
          mousewheel: true,
          slidesPerView: 1,
          slidesPerColumn: 1,
          centeredSlides: true,
          roundLengths: true,
        }
      },
    },
    watch: {
      activeIndex: {
        handler: function (newVal, oldval) {
          this.$nextTick(() => {
            this.$refs.video[newVal].play();
            this.changeFrameVideo(newVal)
            this.videoPlay = true
            if (oldval === undefined) return;
            this.$refs.video[oldval].pause();
          })
        },
        immediate: true
      }
    },
    methods: {
      slideChange() {
        this.activeIndex = this.swipper.activeIndex;
        this.$emit('activeInfo:update', this.videos[this.activeIndex])
      },
      changePlay() {
        let currentVideo = this.$refs.video[this.activeIndex]
        if (currentVideo.paused) {
          document.getElementById('soundtrackName').start();
          return currentVideo.play();
        }
        document.getElementById('soundtrackName').stop();
        return currentVideo.pause();
      },
      handlerLike() {
        let data = [...this.videos]
        data[this.activeIndex].isLike = !data[this.activeIndex].isLike;
        this.$emit('videos:update', data)
      },
      oneClick(event){
        this.clicks++
        if(this.clicks === 1) {
          this.timer = setTimeout(() => {
            this.changePlay();
            this.clicks = 0
          }, 700);
        } else{
          clearTimeout(this.timer);
          this.handlerLike();
          this.clicks = 0;
        }
      },
      changeFrameVideo(index) {
        let currentVideo = this.videos[index];
        if (currentVideo.width <= currentVideo.height) return;
        let ratio = currentVideo.height / this.height;
        let currentWidth = currentVideo.width / ratio;
        this.$refs.video[index].style.left = `-${(currentWidth - this.width) / 2}px`
      }
    }
  }
</script>
<style lang="scss">
  .content {

    > span {
      position: absolute;
      cursor: pointer;
      color: #fff;

      &> * {
        display: block;
      }

      &> i {
        font-size: 50px;
        line-height: 50px;
      }
    }

    .avatar {
      right: 10px;
      bottom: 60%;

      & > img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 2px solid #fff;
      }
    }

    .like {
      right: 14px;
      bottom: 40%;

      .isLike {
        color: #fd1954;
      }
    }

    .chat-processing {
      right: 14px;
      bottom: 28%;
    }

    .share-facebook {
      right: 16px;
      bottom: 18%;
      background: #3b5999;
      border-radius: 50%;
      width: 50px;
      height: 50px;

      & > i {
        font-size: 30px;
        text-align: center;
      }
    }

    .soundtrack {
      right: 14px;
      bottom: 5%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #47494e;
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      & > img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        object-fit: cover;
      }
    }

    .author {
      left: 20px;
      bottom: 8%;
      font-size: 16px;
      font-weight: 600;

      .decription {
        font-weight: 400;
      }
    }

    .text-soundtrack {
      & > i {
        font-size: 20px;
        line-height: 20px;
        display: inline-block;
      }
      left: 20px;
      bottom: 4%;
    }
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }

</style>
