<template>
  <div>
    <img :src="url" alt="">
    <span>
      <i class="mdi mdi-heart"></i>
      <span class="count">79.7k</span>
    </span>
  </div>
</template>

<script>
	export default {
		name: "ItemVideo",
    props: ['url']
	}
</script>

<style scoped>

</style>
