<template>
  <div class="profile">
    <div class="banner">
      <img :src="require('~/assets/images/' + value.avatar)" alt="">
    </div>
    <div class="header">
      <div class="avatar">
        <img :src="require('~/assets/images/' + value.avatar)" alt="">
      </div>
      <div class="follow">
        <button class="btn btn-danger">Đang Follow</button>
        <button class="btn btn-dark">
          <i class="mdi mdi-dots-horizontal"></i>
        </button>
      </div>
      <div class="name">
        {{value.name}}
      </div>
      <div class="id">
        ID: Tiktok: zangxiaoping
      </div>
      <hr style="border-top: 1px solid #fff;"/>
      <div class="story text-secondary">
        Chưa có tiểu sử
      </div>
      <div class="d-flex justify-content-between mt-3">
        <div class="like">
          827.0k <span class="text-secondary">Trái tim</span>
        </div>
        <div class="following">
          200 <span class="text-secondary">Đang Follow</span>
        </div>
        <div class="follower">
          281.8k <span class="text-secondary">Follower</span>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="media">
        <el-tabs v-model="activeName">
          <el-tab-pane label="Video 16" name="video">
            <div class="videos">
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394582897-9f9a50101f2e70161b0037230bd75cbe"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583620-0f4b9f99f5f7bd54d085343dbbd95375"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583820-1b379fdb1ac7d936d546a96962398542"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394582897-9f9a50101f2e70161b0037230bd75cbe"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583620-0f4b9f99f5f7bd54d085343dbbd95375"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583820-1b379fdb1ac7d936d546a96962398542"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394582897-9f9a50101f2e70161b0037230bd75cbe"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583620-0f4b9f99f5f7bd54d085343dbbd95375"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583820-1b379fdb1ac7d936d546a96962398542"/>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Thích 0" name="second">
            <div class="videos">
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394582897-9f9a50101f2e70161b0037230bd75cbe"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583620-0f4b9f99f5f7bd54d085343dbbd95375"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583820-1b379fdb1ac7d936d546a96962398542"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394582897-9f9a50101f2e70161b0037230bd75cbe"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394582897-9f9a50101f2e70161b0037230bd75cbe"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583620-0f4b9f99f5f7bd54d085343dbbd95375"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583820-1b379fdb1ac7d936d546a96962398542"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583620-0f4b9f99f5f7bd54d085343dbbd95375"/>
              <ItemVideo url="https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394583820-1b379fdb1ac7d936d546a96962398542"/>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Profile",
    props: ['value'],
    components: {
      ItemVideo: () => import('./ItemVideo')
    },
    data() {
      return {
        activeName: 'video'
      }
    },
  }
</script>
<style lang="scss">
  .videos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      flex-basis: 33%;
      position: relative;

      & > img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
      & > span {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }
</style>
<style lang="scss">
  .el-tabs__nav {
    min-width: 100vw;
    overflow: hidden;
  }

  .el-tabs__item {
    min-width: 50%;
    color: #fff;
    text-align: center;
  }
</style>
<style scoped lang="scss">
  .profile {
    background: #212121;
    height: 100vh;
    color: #fff;
    overflow-y: scroll;
  }
  .banner {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .header {
    position: relative;
    padding: 20px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 6px solid #212121;
      position: absolute;
      top: -18px;
      left: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .follow {
      float: right;
    }

    .name {
      padding-top: 80px;
      font-size: 28px;
    }
  }

</style>
