<template>
  <div style="min-height: 100vh" v-touch:swipe.right="swipeRightHandler">
    this is profile {{id}}
  </div>
</template>

<script>
	export default {
		async asyncData({params}) {
		  return {
		    id: +params.id
      }
    },
    methods: {
      swipeRightHandler() {
        this.$router.go(-1)
      }
    },

	}
</script>

<style scoped>

</style>
