<template>
  <div class="swiper-box">
<!--    <ComContent :videos.sync="videos" :activeInfo.sync="activeInfo"/>-->
    <swiper :options="swiperOption">
      <swiper-slide>
        <ComContent :videos.sync="videos" :activeInfo.sync="activeInfo"/>
      </swiper-slide>
      <swiper-slide>
        <Profile v-model="activeInfo.contact"/>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
  const videos = [
    {
      // src: 'https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394343901-c179b5f86c23c8bab12f4c04eea117cf',
      src: require('~/assets/videos/0.mp4'),
      width: 1280,
      height: 720,
      soundtrackName: 'soundtrack - HOT - App - 2019 ....',
      isLike: true,
      contact: {
        name: '@Seojin_Ban',
        avatar: '2.jpg',
        likeCount: 185,
        commentCount: 952,
        faceShareCount: 112
      }
    },
    {
      // src: 'https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394343901-c179b5f86c23c8bab12f4c04eea117cf',
      src: require('~/assets/videos/2.mp4'),
      width: 1280,
      height: 720,
      soundtrackName: 'soundtrack - HOT - App - 2019 ....',
      isLike: true,
      contact: {
        name: '@Seojin_Ban',
        avatar: '2.jpg',
        likeCount: 185,
        commentCount: 952,
        faceShareCount: 112
      }
    },
    {
      // src: 'https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394343901-c179b5f86c23c8bab12f4c04eea117cf',
      src: require('~/assets/videos/3.mp4'),
      width: 1280,
      height: 720,
      soundtrackName: 'soundtrack - HOT - App - 2019 ....',
      isLike: true,
      contact: {
        name: '@Seojin_Ban',
        avatar: '2.jpg',
        likeCount: 185,
        commentCount: 952,
        faceShareCount: 112
      }
    },
    {
      src: 'https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394344095-642012a1c45155d4973b6c2673e0fe1c',
      width: 1280,
      height: 720,
      soundtrackName: 'soundtrack - HOT - App - 2019 ....',
      isLike: false,
      contact: {
        name: '@Seojin_Ban',
        avatar: '3.jpg',
        likeCount: 185,
        commentCount: 952,
        faceShareCount: 112
      }
    },
    {
      src: 'https://fukuon-upload.s3.ap-northeast-1.amazonaws.com/1574394344309-a2e3127af3613a4e7dc6f0bd03b66a5d',
      width: 1280,
      height: 720,
      soundtrackName: 'soundtrack - HOT - App - 2019 ....',
      isLike: false,
      contact: {
        name: '@Seojin_Ban',
        avatar: '4.jpg',
        likeCount: 185,
        commentCount: 952,
        faceShareCount: 112
      }
    },
  ]

  export default {

    data() {
      return {
        activeInfo: videos[0],
        videos: videos
      }
    },
    components: {
      Profile: () => import('~/components/Profile'),
      ComContent: () => import('~/components/Content')
    },
    computed: {
      height() {
        return window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      },
      swiperOption() {
        return {
          height: this.height,
          autoHeight: true,
          nested: true,
          slidesPerView: 1,
          slidesPerColumn: 1,
          centeredSlides: true,
          roundLengths: true,
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  html, body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
  }

  .swiper-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .swiper-item {
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .panel {
    width: 300px;
  }
</style>
