<template>
  <span class="chat-processing" @click="handlerOpenDrawerChat">
    <i class="mdi mdi-chat-processing"></i>
    <span class="comment-count text-center">{{value}}</span>
    <el-drawer
      :show-close="false"
      :visible.sync="drawer"
      size="80%"
      :direction="'btt'">
      <div slot="title">
        <div class="text-center text-dark">
          774 bình luận
        </div>
      </div>
      <div class="chat-body">
        <div class="item" v-for="(v, k) in 10" :key="k">
          <div class="d-flex justify-content-start align-items-center">
            <div class="avatar">
              <el-avatar></el-avatar>
            </div>
            <div class="content ml-3">
              <div class="user-name">@user4999999045</div>
              <div class="comment">xinh quá</div>
            </div>
            </div>
          <div class="like-count">
            <div><i class="mdi mdi-heart text-secondary"></i></div>
            <div>1.1k</div>
          </div>
        </div>
      </div>
    </el-drawer>
  </span>
</template>

<script>
  export default {
    name: "ChatProcessing",
    props: ['value'],
    data() {
      return {
        drawer: false
      }
    },
    methods: {
      handlerOpenDrawerChat() {
        this.drawer = true;
      }
    },
  }
</script>

<style scoped>
  .chat-body {
    padding: 10px 20px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .user-name {
    font-weight: bold;
  }
</style>
